In [18]:
import pandas as pd
data_df = pd.read_csv('/content/financial_fraud_detection_dataset.csv')

In [5]:
data_df.head()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Merchant_Category,Payment_Method,Device_Type,Location,Is_International,Previous_Transactions,Average_Spend,Account_Age_Days,Suspicious_Keyword,Fraudulent
0,T100000,CUST3252,04-10-2023 07:45,37.54,Travel,PayPal,POS,Bengaluru,0,94,417.40,1492,No,0
1,T100001,CUST1630,26-09-2023 08:29,240.81,Utilities,PayPal,Mobile,Bengaluru,0,76,335.47,66,No,0
2,T100002,CUST7852,18-07-2023 15:54,105.34,Entertainment,Debit Card,Mobile,Bengaluru,0,60,432.03,216,No,0
3,T100003,CUST4892,16-10-2023 17:10,73.04,Utilities,NetBanking,Desktop,Kolkata,0,68,488.30,449,No,0
4,T100004,CUST8831,09-09-2023 00:46,13.57,Utilities,Credit Card,Desktop,Bengaluru,0,57,437.03,754,No,0

In [6]:
data_df.shape

(5000, 14)

In [7]:
data_df.columns

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date',
       'Transaction_Amount', 'Merchant_Category', 'Payment_Method',
       'Device_Type', 'Location', 'Is_International', 'Previous_Transactions',
       'Average_Spend', 'Account_Age_Days', 'Suspicious_Keyword',
       'Fraudulent'],
      dtype='object')

In [8]:
data_df.isna().any()

Transaction_ID           False
Customer_ID              False
Transaction_Date         False
Transaction_Amount       False
Merchant_Category        False
Payment_Method           False
Device_Type              False
Location                 False
Is_International         False
Previous_Transactions    False
Average_Spend            False
Account_Age_Days         False
Suspicious_Keyword       False
Fraudulent               False
dtype: bool

In [9]:
data_df.isna()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Merchant_Category,Payment_Method,Device_Type,Location,Is_International,Previous_Transactions,Average_Spend,Account_Age_Days,Suspicious_Keyword,Fraudulent
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
data_df.describe()

,Transaction_Amount,Is_International,Previous_Transactions,Average_Spend,Account_Age_Days,Fraudulent
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,79.180664,0.088200,99.414000,258.377132,1011.158200,0.096400
std,78.964045,0.283614,57.022968,140.230639,568.633834,0.295169
min,0.000000,0.000000,1.000000,10.010000,30.000000,0.000000
25%,22.365000,0.000000,50.000000,138.772500,530.000000,0.000000
50%,55.455000,0.000000,100.000000,261.810000,1012.500000,0.000000
75%,110.297500,0.000000,148.000000,378.525000,1496.000000,0.000000
max,653.800000,1.000000,199.000000,499.990000,1999.000000,1.000000

In [11]:
data_df.dtypes

Transaction_ID            object
Customer_ID               object
Transaction_Date          object
Transaction_Amount       float64
Merchant_Category         object
Payment_Method            object
Device_Type               object
Location                  object
Is_International           int64
Previous_Transactions      int64
Average_Spend            float64
Account_Age_Days           int64
Suspicious_Keyword        object
Fraudulent                 int64
dtype: object

In [12]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         5000 non-null   object
 1   Customer_ID            5000 non-null   object
 2   Transaction_Date       5000 non-null   object
 3   Transaction_Amount     5000 non-null   float64
 4   Merchant_Category      5000 non-null   object
 5   Payment_Method         5000 non-null   object
 6   Device_Type            5000 non-null   object
 7   Location               5000 non-null   object
 8   Is_International       5000 non-null   int64
 9   Previous_Transactions  5000 non-null   int64
 10  Average_Spend          5000 non-null   float64
 11  Account_Age_Days       5000 non-null   int64
 12  Suspicious_Keyword     5000 non-null   object
 13  Fraudulent             5000 non-null   int64
dtypes: float64(2), int64(4), object(8)
memory usage: 547.0+ KB

In [13]:
data_df.tail()

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Merchant_Category,Payment_Method,Device_Type,Location,Is_International,Previous_Transactions,Average_Spend,Account_Age_Days,Suspicious_Keyword,Fraudulent
4995,T104995,CUST3702,01-08-2023 21:20,182.15,Electronics,Debit Card,Mobile,Kolkata,0,13,277.99,840,No,0
4996,T104996,CUST6007,14-01-2024 16:42,10.17,Fashion,Credit Card,Desktop,Chennai,0,128,477.24,441,No,0
4997,T104997,CUST6812,09-01-2023 22:14,31.78,Grocery,Debit Card,Mobile,Kolkata,1,76,442.62,1474,No,1
4998,T104998,CUST9120,18-08-2023 17:15,135.31,Utilities,Debit Card,Mobile,Bengaluru,0,13,73.33,246,No,0
4999,T104999,CUST1080,07-09-2023 21:20,72.77,Entertainment,UPI,Mobile,Bengaluru,0,146,30.23,699,No,0

In [15]:
num_df = data_df.select_dtypes(include=['number'])

In [16]:
print("Numerical Columns:")
print(num_df.head())

Numerical Columns:
   Transaction_Amount  Is_International  Previous_Transactions  Average_Spend  \
0               37.54                 0                     94         417.40
1              240.81                 0                     76         335.47
2              105.34                 0                     60         432.03
3               73.04                 0                     68         488.30
4               13.57                 0                     57         437.03

   Account_Age_Days  Fraudulent
0              1492           0
1                66           0
2               216           0
3               449           0
4               754           0

In [17]:
cat_df = data_df.select_dtypes(include=['object'])
print("\nCategorical Columns:")
print(cat_df.head())

Categorical Columns:
  Transaction_ID Customer_ID  Transaction_Date Merchant_Category  \
0        T100000    CUST3252  04-10-2023 07:45            Travel
1        T100001    CUST1630  26-09-2023 08:29         Utilities
2        T100002    CUST7852  18-07-2023 15:54     Entertainment
3        T100003    CUST4892  16-10-2023 17:10         Utilities
4        T100004    CUST8831  09-09-2023 00:46         Utilities

  Payment_Method Device_Type   Location Suspicious_Keyword
0         PayPal         POS  Bengaluru                 No
1         PayPal      Mobile  Bengaluru                 No
2     Debit Card      Mobile  Bengaluru                 No
3     NetBanking     Desktop    Kolkata                 No
4    Credit Card     Desktop  Bengaluru                 No